common/schemas/upi_collect_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CollectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PayeeVPA" type="xs:string"/>
        <xs:element name="PayerVPA" type="xs:string"/>
        <xs:element name="Amount" type="xs:decimal"/>
        <xs:element name="Note" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
