common/schemas/upi_pay_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:upi="http://npci.org/upi/schema/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://npci.org/upi/schema/"
           elementFormDefault="qualified">

  <xs:element name="ReqPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Head" type="upi:HeadType"/>
        <xs:element name="Txn" type="upi:TxnType"/>
        <xs:element name="Payer" type="upi:PayerType"/>
        <xs:element name="Payees" type="upi:PayeesType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Head -->
  <xs:complexType name="HeadType">
    <xs:attribute name="ver" type="xs:string" use="required"/>
    <xs:attribute name="ts" type="xs:string" use="required"/>
    <xs:attribute name="orgId" type="xs:string" use="required"/>
    <xs:attribute name="msgId" type="xs:string" use="required"/>
    <xs:attribute name="prodType" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Txn -->
  <xs:complexType name="TxnType">
    <xs:sequence>
      <xs:element name="QR" type="upi:QRType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="note" type="xs:string" use="optional"/>
    <xs:attribute name="custRef" type="xs:string" use="optional"/>
    <xs:attribute name="refId" type="xs:string" use="optional"/>
    <xs:attribute name="refUrl" type="xs:string" use="optional"/>
    <xs:attribute name="ts" type="xs:string" use="optional"/>
    <xs:attribute name="refCategory" type="xs:string" use="optional"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="orgTxnId" type="xs:string" use="optional"/>
    <xs:attribute name="purpose" type="xs:string" use="optional"/>
    <xs:attribute name="initiationMode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- QR -->
  <xs:complexType name="QRType">
    <xs:attribute name="qVer" type="xs:string"/>
    <xs:attribute name="ts" type="xs:string"/>
    <xs:attribute name="qrMedium" type="xs:string"/>
    <xs:attribute name="expireTs" type="xs:string"/>
    <xs:attribute name="query" type="xs:string"/>
    <xs:attribute name="verToken" type="xs:string"/>
    <xs:attribute name="stan" type="xs:string"/>
  </xs:complexType>

  <!-- Payer -->
  <xs:complexType name="PayerType">
    <xs:sequence>
      <xs:element name="Info" type="upi:InfoType" minOccurs="0"/>
      <xs:element name="Device" type="upi:DeviceType" minOccurs="0"/>
      <xs:element name="Ac" type="upi:AccountType" minOccurs="0" maxOccurs="4"/>
      <xs:element name="Consent" type="upi:ConsentType" minOccurs="0"/>
      <xs:element name="Creds" type="upi:CredsType" minOccurs="0"/>
      <xs:element name="Amount" type="upi:AmountType" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="addr" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="seqNum" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="code" type="xs:string"/>
  </xs:complexType>

  <!-- Payees -->
  <xs:complexType name="PayeesType">
    <xs:sequence>
      <xs:element name="Payee" type="upi:PayeeType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Payee -->
  <xs:complexType name="PayeeType">
    <xs:sequence>
      <xs:element name="Institution" type="upi:InstitutionType" minOccurs="0"/>
      <xs:element name="Merchant" type="upi:MerchantType" minOccurs="0"/>
      <xs:element name="Info" type="upi:InfoType" minOccurs="0"/>
      <xs:element name="Device" type="upi:DeviceType" minOccurs="0"/>
      <xs:element name="Ac" type="upi:AccountType" minOccurs="0" maxOccurs="3"/>
      <xs:element name="Consent" type="upi:ConsentType" minOccurs="0"/>
      <xs:element name="Amount" type="upi:AmountType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="addr" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="seqNum" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="code" type="xs:string"/>
  </xs:complexType>

  <!-- Subtypes -->
  <xs:complexType name="InfoType">
    <xs:sequence>
      <xs:element name="Identity" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="id" type="xs:string"/>
          <xs:attribute name="type" type="xs:string"/>
          <xs:attribute name="verifiedName" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element name="Tag" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="value" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element name="Detail" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="value" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="addrType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ConsentType">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CredsType">
    <xs:sequence>
      <xs:element name="Cred" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Data">
              <xs:complexType mixed="true">
                <xs:attribute name="code" type="xs:string"/>
                <xs:attribute name="Ki" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" type="xs:string"/>
          <xs:attribute name="subType" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:attribute name="value" type="xs:decimal"/>
    <xs:attribute name="curr" type="xs:string" default="INR"/>
  </xs:complexType>

  <xs:complexType name="InstitutionType">
    <xs:attribute name="QrPayLoad" type="xs:string"/>
    <xs:attribute name="conCode" type="xs:string"/>
    <xs:attribute name="netInstId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="MerchantType">
    <xs:sequence>
      <xs:element name="Identifier" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="subCode" type="xs:string"/>
          <xs:attribute name="mid" type="xs:string"/>
          <xs:attribute name="sid" type="xs:string"/>
          <xs:attribute name="tid" type="xs:string"/>
          <xs:attribute name="merchantType" type="xs:string"/>
          <xs:attribute name="merchantGenre" type="xs:string"/>
          <xs:attribute name="onBoardingType" type="xs:string"/>
          <xs:attribute name="pinCode" type="xs:string"/>
          <xs:attribute name="regIdNo" type="xs:string"/>
          <xs:attribute name="tier" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Ownership" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Invoice" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="num" type="xs:string"/>
          <xs:attribute name="date" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
